<% if user_signed_in? %>
  <div class="row-fluid clearfix">
    <div class="col-md-12 column">
      <h2> Find <font color="green">what</font> you're looking for. </h2>
      <div class="row clearfix">
        <div class="col-md-1 column"></div>
        <div class="col-md-3 column">
          <h3 class="text-center"> FIND A </h3>
          <%= link_to 'Professor', professors_path, html_options = { class: 'btn btn-lg btn-block btn-success', type: 'button' }  %>
        </div>
        <div class="col-md-1 column"></div>
        <div class="col-md-3 column">
          <h3 class="text-center"> FIND A </h3>
          <%= link_to 'School', schools_path, html_options = { class: 'btn btn-lg btn-block btn-success', type: 'button' }  %>
        </div>
        <div class="col-md-1 column"></div>
        <div class="col-md-3 column">
          <h3 class="text-center"> RATE A </h3>
          <%= link_to 'Professor', professors_path, html_options = { class: 'btn btn-lg btn-block btn-success', type: 'button' }  %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>It's time for you to give evaluations about <strong>Your</strong>
      professors Ipsum aperiam ratione sunt dignissimos impedit sit! Totam
      accusantium sed sint expedita fugiat totam sequi quidem doloribus
      consequatur. Accusamus excepturi cumque esse provident blanditiis. Officia
      suscipit possimus aperiam minus sit.
    </p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>

  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="row clearfix">
          <div class="col-md-1 column">
          </div>
          <div class="col-md-4 column">
            <a href="/users/sign_in" class="btn btn-info btn-lg btn-block" type="button">Sign In</a>
          </div>
          <div class="col-md-1 column">
          </div>
          <div class="col-md-1 column">
          </div>
          <div class="col-md-4 column">
            <a href="/users/sign_up" class="btn btn-primary btn-lg btn-block" type="button">Sign Up</a>
          </div>
          <div class="col-md-1 column">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
