<div class="jumbotron">
  <h1>Welcome</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-4 column">
          <a href="/users/sign_in" class="btn btn-info btn-lg btn-block" type="button">Sign In</a>
        </div>
        <div class="col-md-1 column">
        </div>
        <div class="col-md-1 column">
        </div>
        <div class="col-md-4 column">
          <a href="/users/sign_up" class="btn btn-primary btn-lg btn-block" type="button">Sign Up</a>
        </div>
        <div class="col-md-1 column">
        </div>
      </div>
    </div>
  </div>
</div>
